INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
install-sh
missing
notify-sharp.pc
*.user*
*.pidb
bin/
docs/notify-sharp-docs.tree
docs/notify-sharp-docs.zip
src/notify-sharp.dll
